@import "../../styles";

.card {
  width: 33% !important;
}

.card-delete-icon {
  color: #aaa;
}

@include media-breakpoint-up(sm) {
  .card-delete-icon {
    visibility: hidden;
  }

  .card-body:hover {
    .card-delete-icon {
      visibility: visible;
    }
  }
}

.deleting-post {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  opacity: 0.6;
  -moz-opacity: 0.6;
}

.card-body{
  border-left: 4px solid #0069d9;
}