<div class="card-body" [ngClass]="{'deleting-post':isDeleting}">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.content}}</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
        <img class="c-pointer float-right card-delete-icon" (click)="deletePost()" src="assets/baseline-delete-24px.svg">
    </p>
</div>
