/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap/scss/mixins/hover";
@import "~bootstrap/scss/mixins/table-row";
@import 'styles/colors';
@import 'styles/utils';

/*@import 'styles/custom-forms-extended';
@import 'styles/toasters';
*/
body {
}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.center-align {
  text-align: center;
}